---
import { getCollection } from "astro:content";
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const allProjects = await getCollection("projects");
const pageTitle = "Info";
---
<Layout pageTitle={pageTitle}>

    <h2>Italia (Genova)</h2>
    <p><em>“Vedrai una città regale addossata ad una collina alpestre, superba per uomini e per mura, il cui solo aspetto la indica Signora del Mare: Genova” (cit. Francesco Petrarca)</em></p>
    <p>Per tutti coloro che non potranno partecipare alla festa in Albania, vi aspettiamo dopo la cerimonia civile presso il Ristorante Vittorio al Mare.</p>

    <h3>Dress code</h3>
    <p>È richiesto un dress code formale ed elegante.</p>

    <h3>Maps e mezzi</h3>
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2851.1191983168!2d8.973518499999997!3d44.389674799999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12d343014d0c6003%3A0x6c0db2dbb42aac2!2sVittorio%20al%20Mare!5e0!3m2!1sen!2suk!4v1737323778177!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

      <!--<iframe -->
      <!--    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2991.9396230057923!2d19.711337726555712!3d41.41882929404352!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13502d0712c5607f%3A0x5254c1f62d5286db!2sTirana%20International%20Airport!5e0!3m2!1sen!2suk!4v1731354053232!5m2!1sen!2suk" -->
      <!--    width="600" -->
      <!--    height="450" -->
      <!--    style="border:0;" -->
      <!--    allowfullscreen="" -->
      <!--    loading="lazy" -->
      <!--    referrerpolicy="no-referrer-when-downgrade" ></iframe>-->

    </div>
    <p>Per eventuali info su come raggiungere il ristorante (parcheggi, mezzi, etc…), potete cliccare <a href="https://www.google.com/maps/place/Vittorio+al+Mare/@44.3896748,8.9709436,17z/data=!3m1!4b1!4m6!3m5!1s0x12d343014d0c6003:0x6c0db2dbb42aac2!8m2!3d44.3896748!4d8.9735185!16s%2Fg%2F1vh8m742!5m1!1e1?entry=ttu&g_ep=EgoyMDI1MDExNS4wIKXMDSoASAFQAw%3D%3D" target="_blank">qui</a>.</p>

    <h3>Menu</h3>
    <p>Il menu previsto è a base di pesce.</p>
    <p>Per eventuali intolleranze e/o allergie, vi preghiamo di segnalarci tramite l’apposita sezione nel
form RSVP o, in alternativa, contattateci via telefono.</p>

    <h2>Albania (Hekal)</h2>
    <h3>Dress code</h3>
    <p><em>“Il modo di vestirsi è una preoccupazione sciocca. Ma è molto sciocco per un uomo non essere ben vestito” (cit. Lord Chesterfield)</em></p>
    <p>Starete già pensando…ma come mi vesto per l’evento? Vestitevi belli, ma la cosa importate è che veniate carichi e pieni di entusiasmo! Dal momento che ci scateneremo tutta la sera ballando, consigliamo di portarvi un paio di scarpe comode extra.</p>

    <h3>Maps e mezzi</h3>
    <p>Per raggiungere il luogo dell’evento in Albania (Hekal), qualora non siate automuniti e arriviate in aereo, raccomandiamo di noleggiare una macchina, in quanto non vi sono mezzi pubblici a disposizione.</p>
    <p>Per eventuali info sul noleggio auto, è disponibile un servizio a pagamento messo a disposizione da parte di “Auto Bledi” che potete contattare al seguente numero: +355 69 522 7388 (risponde comodamente via Whatsapp, nome Bledi). In caso alternativo è possibile il noleggio diretto o su prenotazione direttamente presso l’aeroporto.</p>


    <h3>Visitare l’Albania</h3>
    <p><em>“L’Albania è come andare in bicicletta: non puoi fidarti delle descrizioni nei libri, devi andarci” (cit. Gabri)</em></p>
    <p>Avete intenzione di trascorrere qualche giorno di mare o volete gustare le bellezze dell’Albania? Consigliamo vivamente le seguenti località di mare e città.</p>
    <section>
      <h4>Località di mare</h4>
      <ul>
        <li>Zvernec</li>
        <li>Orikum</li>
        <li>Dhermi</li>
        <li>Himarë</li>
        <li>Borsh</li>
        <li>Porto Palermo</li>
        <li>Ksamil</li>
      </ul>
    </section>

    <section>
      <h4>Città e luoghi da visitare</h4>
      <ul>
        <li>Tirana</li>
        <li>Berat</li>
        <li>Gjirokaster</li>
        <li>Terme di Permet</li>
        <li>Saranda</li>
        <li>Syri i Kaltër (Occhio Azzurro)</li>
        <li>Centro storico “Bylis” (Hekal)</li>
      </ul>
    </section>

    <h3>Menu</h3>
    <p><em>“Si dice che l’appetito vien mangiando, ma in realtà viene a star digiuni” (cit. Totò) </em></p>
    <div class="center">
      <img class="pro-img" src="/menu.png" alt="First Image" />
    </div>
    <p>Il giorno dell’evento vi aspettiamo certamente belli, carichi, scatenati, ma anche curiosi di provare la cucina albanese. Rimarrà una sorpresa per i vostri palati!</p>
    <p>Ricordiamo che potete segnalarci eventuali intolleranze e/o allergie alimentari compilando la relativa sezione all’interno del form RSVP.</p>


    <!--<ul role="list" class="link-card-grid">-->
    <!--    {allProjects.map((card) => <Card -->
    <!--        url={`/projects/${card.slug}/`} -->
    <!--        image={card.data.image.url} -->
    <!--        title={card.data.title} -->
    <!--        body={card.data.description}-->
    <!--    />)}-->
    <!--</ul>-->
</Layout>

